.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 10px;
  align-items: center;
  .list-group-item-title {
    display: flex;
    flex-direction: column;
    .list-group-item-link {
      color: black;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 1px dashed black;

    }
    :visited {
      color: black;
    }
  }

  .list-group-item-delete-text {
    cursor: pointer;
  }

}

.list-group-item:nth-child(odd) {
  background: rgb(220, 220, 220);
}

.list-group-item:nth-child(even) {
  background: white;
}

